.card {
  transition: 0.3s;
  width: 15%;
  border-radius: 10px;
  margin-left: 25%;
  margin-top: 2%;
  border: solid;
  border-radius: 5%;
  border-width: 2px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: initial;
}

@media (max-width: 800px) {
  .card {
    overflow: hidden;
  }

  .container {
    padding: 2px 2px;
  }
}
